node_modules
.git

*.log

.env
.env.local

/build
/dist
/volumes
/sql

/.idea
/.vscode
/.vs
.editorconfig
/requests

*.md

db-init/db-scripts.sql
docker-compose.yml
Dockerfile
.dockerignore
.gitignore
nginx.conf

# Include only the package.json file from the root directory
!package.json
